openapi: 3.1.0
info:
  title: Mako Cloud API
  version: 1.0.0
  description: >-
    Versioned management, project authentication, RxDB replication, edge
    function, and operator contracts for Mako Cloud.
servers:
  - url: https://api.mako.cloud
tags:
  - name: Management
  - name: Auth
  - name: Documents
  - name: Replication
  - name: Functions
  - name: Operator
  - name: Explorer
  - name: Developer Workspace
security:
  - managementBearer: []
paths:
  /v1/organizations:
    get:
      tags: [Management]
      operationId: listOrganizations
      summary: List organizations visible to the developer
      responses:
        "200":
          description: Organization page
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Organization"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: createOrganization
      summary: Create an organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
      responses:
        "201":
          description: Organization created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/organizations/{organizationId}/bill:
    get:
      tags: [Management]
      operationId: getOrganizationBill
      summary: The organization's informational bill for the current period
      description: >-
        What the organization's metered use would cost under its plan and the
        current rate card, and the balance it implies. Informational only:
        nothing is payable and no charge is made during the beta, and the
        response says so explicitly.
      parameters:
        - $ref: "#/components/parameters/OrganizationId"
      responses:
        "200":
          description: The rated current period and resulting balance
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - organizationId
                  - planId
                  - periodStart
                  - observedAt
                  - baseMicroDollars
                  - lineItems
                  - totalMicroDollars
                  - creditsMicroDollars
                  - balanceMicroDollars
                  - collectable
                  - notice
                properties:
                  organizationId: {$ref: "#/components/schemas/OrganizationId"}
                  planId: {type: string}
                  periodStart: {type: string, format: date-time}
                  observedAt: {type: string, format: date-time}
                  baseMicroDollars: {type: integer, format: int64}
                  lineItems:
                    type: array
                    maxItems: 32
                    items:
                      type: object
                      additionalProperties: false
                      required: [resource, quantity, included, overage, amountMicroDollars]
                      properties:
                        resource: {$ref: "#/components/schemas/QuotaResource"}
                        quantity: {type: integer, format: int64, minimum: 0}
                        included: {type: integer, format: int64, minimum: 0}
                        overage: {type: integer, format: int64, minimum: 0}
                        amountMicroDollars: {type: integer, format: int64}
                  totalMicroDollars: {type: integer, format: int64}
                  creditsMicroDollars: {type: integer, format: int64}
                  balanceMicroDollars: {type: integer, format: int64}
                  collectable: {type: boolean}
                  notice: {type: string}
        default: {$ref: "#/components/responses/ApiError"}
  /v1/organizations/{organizationId}:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
    get:
      tags: [Management]
      operationId: getOrganization
      summary: Inspect an organization visible to the developer or automation token
      responses:
        "200":
          description: Organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Management]
      operationId: updateOrganization
      summary: Update organization metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
      responses:
        "200":
          description: Updated organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Management]
      operationId: requestOrganizationDeletion
      summary: Enter the organization deletion grace period
      parameters:
        - name: confirmation
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 200
      responses:
        "202":
          description: Deletion grace period started and data-plane access revocation scheduled immediately
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/organizations/{organizationId}/actions/restore:
    post:
      tags: [Management]
      operationId: restoreOrganization
      summary: Restore an organization before its deletion grace deadline
      parameters:
        - $ref: "#/components/parameters/OrganizationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Organization restoration accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/organizations/{organizationId}/invitations:
    post:
      tags: [Management]
      operationId: createOrganizationInvitation
      parameters:
        - $ref: "#/components/parameters/OrganizationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [email, role, expiresAt]
              properties:
                email:
                  type: string
                  format: email
                role:
                  $ref: "#/components/schemas/OrganizationRole"
                expiresAt:
                  type: string
                  format: date-time
      responses:
        "201":
          description: Invitation created; token is displayed only in this response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationIssue"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/invitations/{invitationId}/accept:
    post:
      tags: [Management]
      operationId: acceptOrganizationInvitation
      parameters:
        - $ref: "#/components/parameters/InvitationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [token]
              properties:
                token:
                  type: string
                  minLength: 32
                  maxLength: 512
      responses:
        "200":
          description: Accepted organization membership
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationMembership"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/organizations/{organizationId}/members:
    get:
      tags: [Management]
      operationId: listOrganizationMembers
      parameters:
        - $ref: "#/components/parameters/OrganizationId"
      responses:
        "200":
          description: Organization members
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrganizationMembership"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/organizations/{organizationId}/members/{developerIdentityId}:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/DeveloperIdentityId"
    patch:
      tags: [Management]
      operationId: updateOrganizationMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [role]
              properties:
                role:
                  $ref: "#/components/schemas/OrganizationRole"
      responses:
        "200":
          description: Updated membership
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationMembership"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Management]
      operationId: removeOrganizationMember
      responses:
        "204":
          description: Membership removed
        default:
          $ref: "#/components/responses/ApiError"
  /v1/organizations/{organizationId}/automation-tokens:
    get:
      tags: [Management]
      operationId: listAutomationTokens
      parameters:
        - $ref: "#/components/parameters/OrganizationId"
      responses:
        "200":
          description: Automation token metadata without token secrets
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/AutomationToken"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: createAutomationToken
      parameters:
        - $ref: "#/components/parameters/OrganizationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name, scope, expiresAt]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                scope:
                  $ref: "#/components/schemas/AutomationScope"
                expiresAt:
                  type: string
                  format: date-time
      responses:
        "201":
          description: Automation token created; secret is displayed only in this response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationTokenIssue"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/organizations/{organizationId}/automation-tokens/{automationTokenId}:
    delete:
      tags: [Management]
      operationId: revokeAutomationToken
      parameters:
        - $ref: "#/components/parameters/OrganizationId"
        - $ref: "#/components/parameters/AutomationTokenId"
      responses:
        "204":
          description: Automation token revoked
        default:
          $ref: "#/components/responses/ApiError"
  /v1/organizations/{organizationId}/automation-tokens/{automationTokenId}/actions/rotate:
    post:
      tags: [Management]
      operationId: rotateAutomationToken
      parameters:
        - $ref: "#/components/parameters/OrganizationId"
        - $ref: "#/components/parameters/AutomationTokenId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [replacementId, expiresAt]
              properties:
                replacementId:
                  $ref: "#/components/schemas/AutomationTokenId"
                expiresAt:
                  type: string
                  format: date-time
      responses:
        "201":
          description: Replacement token; secret is displayed only in this response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationTokenIssue"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects:
    get:
      tags: [Management]
      operationId: listProjects
      summary: List projects visible in an organization
      parameters:
        - name: organizationId
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/OrganizationId"
      responses:
        "200":
          description: Organization projects
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: createProject
      summary: Start asynchronous project provisioning
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organizationId, name, region]
              properties:
                organizationId:
                  $ref: "#/components/schemas/OrganizationId"
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                region:
                  type: string
                  minLength: 1
      responses:
        "202":
          description: Project provisioning accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}:
    get:
      tags: [Management]
      operationId: getProject
      summary: Get project and provisioning state
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Management]
      operationId: requestProjectDeletion
      summary: Enter the project deletion grace period and revoke new data-plane access
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: confirmation
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 200
      responses:
        "202":
          description: Project deletion intent accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/actions/suspend:
    post:
      tags: [Management]
      operationId: suspendProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Project suspension accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/actions/restore:
    post:
      tags: [Management]
      operationId: restoreProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Project restoration accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments:
    get:
      tags: [Management]
      operationId: listEnvironments
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project environments
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Environment"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: createEnvironment
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
      responses:
        "202":
          description: Environment provisioning accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}:
    get:
      tags: [Management]
      operationId: getEnvironment
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
      responses:
        "200":
          description: Environment and lifecycle state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Management]
      operationId: requestEnvironmentDeletion
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - name: confirmation
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 200
      responses:
        "202":
          description: Environment deletion intent accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/actions/suspend:
    post:
      tags: [Management]
      operationId: suspendEnvironment
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Environment suspension accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/actions/restore:
    post:
      tags: [Management]
      operationId: restoreEnvironment
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Environment restoration accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections:
    get:
      tags: [Management]
      operationId: listCollections
      summary: List collections and active schema versions
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
      responses:
        "200":
          description: Environment collections
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Collection"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: createCollection
      summary: Create a collection and its first active schema
      description: >-
        The collection is recorded, its metadata is installed in the data plane
        that serves the environment, and only then is it reported active. A
        collection returned with state `active` accepts document traffic. If the
        data plane cannot record the metadata the collection remains `creating`
        and the request fails with a retryable error; replaying the request with
        the same idempotency key converges.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCollectionRequest"
      responses:
        "201":
          description: Collection created and active for document traffic
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collection"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}:
    get:
      tags: [Management]
      operationId: getCollection
      summary: Inspect collection metadata and active schema
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
      responses:
        "200":
          description: Collection metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collection"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/schemas:
    post:
      tags: [Management]
      operationId: publishCollectionSchema
      summary: Publish a compatible schema or return migration requirements
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublishCollectionSchemaRequest"
      responses:
        "200":
          description: Publication or migration-required result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchemaPublicationResult"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/migrations:
    post:
      tags: [Management]
      operationId: createSchemaMigration
      summary: Create an explicit workflow for an incompatible schema change
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSchemaMigrationRequest"
      responses:
        "202":
          description: Migration workflow planned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchemaMigration"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/migrations/{migrationId}:
    get:
      tags: [Management]
      operationId: getSchemaMigration
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/MigrationId"
      responses:
        "200":
          description: Migration state and compatibility diagnostics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchemaMigration"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Management]
      operationId: updateSchemaMigration
      summary: Advance, retry, complete, or cancel a migration workflow
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/MigrationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [state]
              properties:
                state:
                  $ref: "#/components/schemas/SchemaMigrationState"
      responses:
        "200":
          description: Updated migration workflow
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchemaMigration"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/indexes:
    get:
      tags: [Management]
      operationId: listCollectionIndexes
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
      responses:
        "200":
          description: Index definitions and online build progress
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/CollectionIndex"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: createCollectionIndex
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCollectionIndexRequest"
      responses:
        "202":
          description: Online index build accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionIndex"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/indexes/{indexName}/{indexVersion}:
    get:
      tags: [Management]
      operationId: getCollectionIndex
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/IndexName"
        - $ref: "#/components/parameters/IndexVersion"
      responses:
        "200":
          description: Index definition and online build progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionIndex"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Management]
      operationId: deleteCollectionIndex
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/IndexName"
        - $ref: "#/components/parameters/IndexVersion"
      responses:
        "202":
          description: Online index deletion accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionIndex"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/policies:
    get:
      tags: [Management]
      operationId: getActiveCollectionPolicy
      summary: Inspect default-deny state, active policy, and authorization epoch
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
      responses:
        "200":
          description: Active collection policy state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivePolicy"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: createCollectionPolicyDraft
      summary: Create an immutable policy draft version
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePolicyDraftRequest"
      responses:
        "201":
          description: Policy draft created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicySet"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/policies/{policyVersion}:
    get:
      tags: [Management]
      operationId: getCollectionPolicy
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/PolicyVersion"
      responses:
        "200":
          description: Versioned collection policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicySet"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/policies/{policyVersion}/actions/validate:
    post:
      tags: [Management]
      operationId: validateCollectionPolicy
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/PolicyVersion"
      responses:
        "200":
          description: Schema-aware policy validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyValidation"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/policies/{policyVersion}/actions/test:
    post:
      tags: [Management]
      operationId: testCollectionPolicy
      summary: Evaluate a draft against administrator-supplied examples without activation
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/PolicyVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [examples]
              properties:
                examples:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    $ref: "#/components/schemas/PolicyExample"
      responses:
        "200":
          description: Deterministic allow/deny results and safe traces
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [results]
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/PolicyExampleResult"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/policies/{policyVersion}/actions/activate:
    post:
      tags: [Management]
      operationId: activateCollectionPolicy
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/PolicyVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Atomically activated policy and advanced epoch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivePolicy"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/policies/{policyVersion}/actions/rollback:
    post:
      tags: [Management]
      operationId: rollbackCollectionPolicy
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/PolicyVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Atomically restored policy and advanced epoch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivePolicy"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/users:
    get:
      tags: [Management]
      operationId: searchApplicationUsers
      summary: Search application users without credential material
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - name: query
          in: query
          required: false
          schema:
            type: string
            maxLength: 320
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: Bounded application-user search results
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [users, truncated]
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApplicationUserSummary"
                  truncated:
                    type: boolean
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: createApplicationUser
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminCreateUserRequest"
      responses:
        "201":
          description: Active application user created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationUserView"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/users/invitations:
    post:
      tags: [Management]
      operationId: inviteApplicationUser
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminCreateUserRequest"
      responses:
        "202":
          description: Pending application user created and invitation queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationUserView"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/users/{userId}:
    get:
      tags: [Management]
      operationId: getApplicationUser
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ApplicationUserId"
      responses:
        "200":
          description: Application user, safe metadata, and sessions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationUserView"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Management]
      operationId: updateApplicationUserMetadata
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ApplicationUserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminUpdateUserMetadataRequest"
      responses:
        "200":
          description: Application-user metadata updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationUserView"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Management]
      operationId: deleteApplicationUser
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ApplicationUserId"
      responses:
        "200":
          description: Deleted application user with all sessions revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationUserView"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/users/{userId}/actions/disable:
    post:
      tags: [Management]
      operationId: disableApplicationUser
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ApplicationUserId"
      responses:
        "200":
          description: Disabled user and revoked sessions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationUserView"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/users/{userId}/actions/restore:
    post:
      tags: [Management]
      operationId: restoreApplicationUser
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ApplicationUserId"
      responses:
        "200":
          description: Restored application user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationUserView"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/users/{userId}/actions/revoke-sessions:
    post:
      tags: [Management]
      operationId: revokeApplicationUserSessions
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ApplicationUserId"
      responses:
        "200":
          description: All application-user sessions revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationUserView"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/users/{userId}/sessions/{sessionId}:
    delete:
      tags: [Management]
      operationId: revokeApplicationUserSession
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ApplicationUserId"
        - $ref: "#/components/parameters/ApplicationSessionId"
      responses:
        "200":
          description: Selected application-user session revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationUserView"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/credentials/public:
    post:
      tags: [Management]
      operationId: createPublicProjectKey
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [id]
              properties:
                id:
                  $ref: "#/components/schemas/ProjectCredentialId"
      responses:
        "201":
          description: Public project key displayed only in this response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCredentialIssue"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/credentials/service:
    post:
      tags: [Management]
      operationId: createServiceCredential
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [id, scope]
              properties:
                id:
                  $ref: "#/components/schemas/ProjectCredentialId"
                scope:
                  $ref: "#/components/schemas/ServiceCredentialScope"
      responses:
        "201":
          description: Service credential displayed only in this response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCredentialIssue"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/credentials/{credentialId}:
    get:
      tags: [Management]
      operationId: getProjectCredential
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ProjectCredentialId"
      responses:
        "200":
          description: Credential metadata without secret material
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCredential"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Management]
      operationId: retireProjectCredential
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ProjectCredentialId"
      responses:
        "204":
          description: Credential retired
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/credentials/{credentialId}/actions/rotate:
    post:
      tags: [Management]
      operationId: rotateProjectCredential
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ProjectCredentialId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [replacementId, overlapSeconds]
              properties:
                replacementId:
                  $ref: "#/components/schemas/ProjectCredentialId"
                overlapSeconds:
                  type: integer
                  format: int64
                  minimum: 0
                  maximum: 2592000
      responses:
        "201":
          description: Replacement credential displayed only in this response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCredentialIssue"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/signing-keys/actions/initialize:
    post:
      tags: [Management]
      operationId: initializeJwtSigningKey
      summary: Create an environment's first JWT signing key
      description: >-
        Rotation replaces an existing active key and fails when there is none, so
        a newly created environment needs this before it can issue application-user
        sessions. Replaying with the same idempotency key returns the committed result.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "201":
          description: First signing key created; private material is never returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwtSigningKey"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/signing-keys:
    get:
      tags: [Management]
      operationId: listJwtSigningKeys
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
      responses:
        "200":
          description: JWT signing-key lifecycle metadata
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/JwtSigningKey"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: rotateJwtSigningKey
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [overlapSeconds]
              properties:
                overlapSeconds:
                  type: integer
                  format: int64
                  minimum: 1
                  maximum: 2592000
      responses:
        "201":
          description: New signing key created; private material is never returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwtSigningKey"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/function-secrets:
    post:
      tags: [Management]
      operationId: createFunctionSecret
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name:
                  $ref: "#/components/schemas/FunctionSecretName"
      responses:
        "201":
          description: Generated function secret displayed only in this response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionSecretIssue"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/function-secrets/{secretName}:
    get:
      tags: [Management]
      operationId: getFunctionSecret
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionSecretName"
      responses:
        "200":
          description: Function-secret metadata without the secret value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionSecret"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Management]
      operationId: retireFunctionSecret
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionSecretName"
      responses:
        "200":
          description: Retired function-secret metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionSecret"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/function-secrets/{secretName}/actions/rotate:
    post:
      tags: [Management]
      operationId: rotateFunctionSecret
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionSecretName"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "201":
          description: Replacement function secret displayed only in this response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionSecretIssue"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/auth/signup:
    post:
      tags: [Auth]
      operationId: signUp
      security:
        - publicProjectKey: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
      responses:
        "202":
          description: Sign-up accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignUpAccepted"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/auth/jwks:
    get:
      tags: [Auth]
      operationId: getProjectJwks
      summary: Return public keys used to verify application access tokens
      security:
        - publicProjectKey: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
      responses:
        "200":
          description: Project application-token JSON Web Key Set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonWebKeySet"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/auth/signin:
    post:
      tags: [Auth]
      operationId: signInWithPassword
      security:
        - publicProjectKey: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordSignInRequest"
      responses:
        "200":
          description: Authenticated session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSession"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/auth/token:
    post:
      tags: [Auth]
      operationId: refreshSession
      security:
        - publicProjectKey: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  minLength: 32
      responses:
        "200":
          description: Rotated session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSession"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/auth/signout:
    post:
      tags: [Auth]
      operationId: signOut
      security:
        - applicationBearer: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
      responses:
        "204":
          description: Session revoked
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/auth/user:
    get:
      tags: [Auth]
      operationId: getCurrentAuthUser
      summary: Resolve the application user represented by the caller token
      security:
        - applicationBearer: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
      responses:
        "200":
          description: Current application user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthUser"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/documents/{documentId}:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
      - $ref: "#/components/parameters/EnvironmentId"
      - $ref: "#/components/parameters/CollectionId"
      - $ref: "#/components/parameters/DocumentId"
    get:
      tags: [Documents]
      operationId: getDocument
      summary: Read one policy-authorized document
      security:
        - applicationBearer: []
      responses:
        "200":
          description: Authorized current document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentRecord"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Documents]
      operationId: mutateDocument
      summary: Apply one policy-authorized conditional document mutation
      security:
        - applicationBearer: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentMutationRequest"
      responses:
        "200":
          description: Applied, replayed, or revision-conflicted mutation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentMutationResult"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/documents/query:
    post:
      tags: [Documents]
      operationId: queryDocuments
      summary: Run a bounded policy-authorized active-index query
      security:
        - applicationBearer: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentQueryRequest"
      responses:
        "200":
          description: Authorized document query page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentQueryPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/service/collections/{collectionId}/documents/{documentId}:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
      - $ref: "#/components/parameters/EnvironmentId"
      - $ref: "#/components/parameters/CollectionId"
      - $ref: "#/components/parameters/DocumentId"
      - $ref: "#/components/parameters/ServiceBypassReason"
      - $ref: "#/components/parameters/ServiceRequestId"
    get:
      tags: [Documents]
      operationId: getDocumentAsService
      summary: Read one document using an explicit scoped service credential
      security:
        - serviceProjectKey: []
      responses:
        "200":
          description: Current document returned under an audited bypass
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentRecord"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Documents]
      operationId: mutateDocumentAsService
      summary: Mutate one document using an explicit scoped service credential
      security:
        - serviceProjectKey: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentMutationRequest"
      responses:
        "200":
          description: Audited service mutation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentMutationResult"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/service/collections/{collectionId}/documents/query:
    post:
      tags: [Documents]
      operationId: queryDocumentsAsService
      summary: Run an indexed query using an explicit scoped service credential
      security:
        - serviceProjectKey: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/ServiceBypassReason"
        - $ref: "#/components/parameters/ServiceRequestId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentQueryRequest"
      responses:
        "200":
          description: Audited service query page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentQueryPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/replication/pull:
    post:
      tags: [Replication]
      operationId: pullDocuments
      security:
        - applicationBearer: []
          publicProjectKey: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PullRequest"
      responses:
        "200":
          description: Authorized replication batch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PullResponse"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/replication/push:
    post:
      tags: [Replication]
      operationId: pushDocuments
      security:
        - applicationBearer: []
          publicProjectKey: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PushRequest"
      responses:
        "200":
          description: Per-row replication outcomes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PushResponse"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/collections/{collectionId}/replication/stream:
    get:
      tags: [Replication]
      operationId: streamDocumentChanges
      summary: Stream live replication events using server-sent events
      security:
        - applicationBearer: []
          publicProjectKey: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/CollectionId"
        - name: schemaVersion
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: checkpoint
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Checkpoint"
        - name: cursor
          in: query
          required: false
          description: Signed opaque Last-Event-ID resume cursor; mutually exclusive with checkpoint.
          schema:
            $ref: "#/components/schemas/StreamCursor"
      responses:
        "200":
          description: SSE stream of document batches, heartbeats, and resync events
          content:
            text/event-stream:
              schema:
                type: string
              x-sse-event-schema:
                $ref: "#/components/schemas/LiveStreamEvent"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/observability/usage:
    get:
      tags: [Management]
      operationId: queryProjectUsage
      summary: Query retained project usage samples
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ObservabilityCursor"
        - $ref: "#/components/parameters/ObservabilityFrom"
        - $ref: "#/components/parameters/ObservabilityUntil"
        - $ref: "#/components/parameters/ObservabilityLimit"
      responses:
        "200":
          $ref: "#/components/responses/ObservabilityPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/observability/quotas:
    get:
      tags: [Management]
      operationId: queryProjectQuotas
      summary: Query quota consumption and retry timing
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ObservabilityCursor"
        - $ref: "#/components/parameters/ObservabilityFrom"
        - $ref: "#/components/parameters/ObservabilityUntil"
        - $ref: "#/components/parameters/ObservabilityLimit"
      responses:
        "200":
          $ref: "#/components/responses/ObservabilityPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/observability/health:
    get:
      tags: [Management]
      operationId: queryProjectHealth
      summary: Query retained data-plane health observations
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ObservabilityCursor"
        - $ref: "#/components/parameters/ObservabilityFrom"
        - $ref: "#/components/parameters/ObservabilityUntil"
        - $ref: "#/components/parameters/ObservabilityLimit"
      responses:
        "200":
          $ref: "#/components/responses/ObservabilityPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/observability/replication-errors:
    get:
      tags: [Management]
      operationId: queryReplicationErrors
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ObservabilityCursor"
        - $ref: "#/components/parameters/ObservabilityFrom"
        - $ref: "#/components/parameters/ObservabilityUntil"
        - $ref: "#/components/parameters/ObservabilityLimit"
      responses:
        "200":
          $ref: "#/components/responses/ObservabilityPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/observability/auth-events:
    get:
      tags: [Management]
      operationId: queryAuthenticationEvents
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ObservabilityCursor"
        - $ref: "#/components/parameters/ObservabilityFrom"
        - $ref: "#/components/parameters/ObservabilityUntil"
        - $ref: "#/components/parameters/ObservabilityLimit"
      responses:
        "200":
          $ref: "#/components/responses/ObservabilityPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/observability/function-metrics:
    get:
      tags: [Management]
      operationId: queryFunctionMetrics
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ObservabilityCursor"
        - $ref: "#/components/parameters/ObservabilityFrom"
        - $ref: "#/components/parameters/ObservabilityUntil"
        - $ref: "#/components/parameters/ObservabilityLimit"
      responses:
        "200":
          $ref: "#/components/responses/ObservabilityPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/observability/logs:
    get:
      tags: [Management]
      operationId: queryProjectLogs
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ObservabilityCursor"
        - $ref: "#/components/parameters/ObservabilityFrom"
        - $ref: "#/components/parameters/ObservabilityUntil"
        - $ref: "#/components/parameters/ObservabilityLimit"
      responses:
        "200":
          $ref: "#/components/responses/ObservabilityPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/observability/index-states:
    get:
      tags: [Management]
      operationId: queryIndexStateEvents
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ObservabilityCursor"
        - $ref: "#/components/parameters/ObservabilityFrom"
        - $ref: "#/components/parameters/ObservabilityUntil"
        - $ref: "#/components/parameters/ObservabilityLimit"
      responses:
        "200":
          $ref: "#/components/responses/ObservabilityPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/observability/audit-events:
    get:
      tags: [Management]
      operationId: queryAuditEvents
      summary: Query export-safe immutable audit events
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/ObservabilityCursor"
        - $ref: "#/components/parameters/ObservabilityFrom"
        - $ref: "#/components/parameters/ObservabilityUntil"
        - $ref: "#/components/parameters/ObservabilityLimit"
      responses:
        "200":
          $ref: "#/components/responses/ObservabilityPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/function-bundles:
    post:
      tags: [Management]
      operationId: uploadFunctionBundle
      summary: Validate, deterministically bundle, and immutably store function source or a prebuilt artifact
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunctionBundleUploadRequest"
      responses:
        "200":
          description: Content-addressed bundle artifact or sanitized validation diagnostics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionBundleUploadResult"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/functions:
    get:
      tags: [Management]
      operationId: listFunctions
      summary: List function metadata and active versions
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
      responses:
        "200":
          description: Environment functions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Function"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: createFunction
      summary: Create function metadata with no active deployment
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFunctionRequest"
      responses:
        "201":
          description: Function metadata created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Function"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/functions/{functionName}:
    get:
      tags: [Management]
      operationId: getFunction
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
      responses:
        "200":
          description: Function metadata and active version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Function"
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Management]
      operationId: updateFunctionConfiguration
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunctionConfiguration"
      responses:
        "200":
          description: Updated function configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Function"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Management]
      operationId: deleteFunction
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
      responses:
        "200":
          description: Deleted function metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Function"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/functions/{functionName}/versions:
    get:
      tags: [Management]
      operationId: listFunctionDeployments
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
      responses:
        "200":
          description: Immutable function deployments
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/FunctionDeployment"
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Management]
      operationId: createFunctionDeployment
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunctionDeploymentRequest"
      responses:
        "202":
          description: Function deployment validated and recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionDeployment"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/functions/{functionName}/versions/{functionVersion}:
    get:
      tags: [Management]
      operationId: getFunctionDeployment
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
        - $ref: "#/components/parameters/FunctionVersion"
      responses:
        "200":
          description: Immutable function deployment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionDeployment"
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Management]
      operationId: deleteFunctionDeployment
      summary: Delete a non-active function deployment
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
        - $ref: "#/components/parameters/FunctionVersion"
      responses:
        "204":
          description: Deployment deleted
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/functions/{functionName}/versions/{functionVersion}/actions/promote:
    post:
      tags: [Management]
      operationId: promoteFunctionDeployment
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
        - $ref: "#/components/parameters/FunctionVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Active version atomically updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Function"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/functions/{functionName}/versions/{functionVersion}/actions/health-check:
    post:
      tags: [Management]
      operationId: checkFunctionDeploymentHealth
      summary: Probe an immutable deployment and refresh its health state
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
        - $ref: "#/components/parameters/FunctionVersion"
      responses:
        "200":
          description: Refreshed deployment health
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionDeployment"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/functions/{functionName}/versions/{functionVersion}/actions/rollback:
    post:
      tags: [Management]
      operationId: rollbackFunctionDeployment
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
        - $ref: "#/components/parameters/FunctionVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Active version atomically rolled back
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Function"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/functions/{functionName}/actions/test:
    post:
      tags: [Management]
      operationId: testFunctionInvocation
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunctionTestRequest"
      responses:
        "200":
          description: Bounded test invocation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionTestResponse"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/projects/{projectId}/environments/{environmentId}/functions/{functionName}/logs:
    get:
      tags: [Management]
      operationId: queryFunctionLogs
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/EnvironmentId"
        - $ref: "#/components/parameters/FunctionName"
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            maxLength: 4096
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        "200":
          description: Sanitized function log entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunctionLogPage"
        default:
          $ref: "#/components/responses/ApiError"
  /{projectRef}/functions/v1/{functionName}:
    description: Application JWT is required unless the function has the explicit public-invocation setting. A supplied bearer token is always validated.
    x-mako-authentication-default: jwt_required
    parameters:
      - name: projectRef
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: functionName
        in: path
        required: true
        schema:
          type: string
          pattern: "^[a-z][a-z0-9-]{0,62}$"
    get:
      tags: [Functions]
      operationId: invokeFunctionGet
      summary: Invoke a function with GET and stream its response
      security:
        - applicationBearer: []
        - {}
      responses:
        "200":
          description: Function-defined streaming response
          content:
            "*/*":
              schema:
                type: string
                format: binary
        default:
          $ref: "#/components/responses/ApiError"
    head:
      tags: [Functions]
      operationId: invokeFunctionHead
      summary: Invoke a function with HEAD
      security:
        - applicationBearer: []
        - {}
      responses:
        "200":
          description: Function-defined headers with no response body
        default:
          $ref: "#/components/responses/ApiError"
    post:
      tags: [Functions]
      operationId: invokeFunctionPost
      summary: Invoke a function with POST and stream its response
      security:
        - applicationBearer: []
        - {}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Function-defined streaming response
          content:
            "*/*":
              schema:
                type: string
                format: binary
        default:
          $ref: "#/components/responses/ApiError"
    put:
      tags: [Functions]
      operationId: invokeFunctionPut
      summary: Invoke a function with PUT and stream its response
      security:
        - applicationBearer: []
        - {}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Function-defined streaming response
          content:
            "*/*":
              schema:
                type: string
                format: binary
        default:
          $ref: "#/components/responses/ApiError"
    patch:
      tags: [Functions]
      operationId: invokeFunctionPatch
      summary: Invoke a function with PATCH and stream its response
      security:
        - applicationBearer: []
        - {}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Function-defined streaming response
          content:
            "*/*":
              schema:
                type: string
                format: binary
        default:
          $ref: "#/components/responses/ApiError"
    delete:
      tags: [Functions]
      operationId: invokeFunctionDelete
      summary: Invoke a function with DELETE and stream its response
      security:
        - applicationBearer: []
        - {}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Function-defined streaming response
          content:
            "*/*":
              schema:
                type: string
                format: binary
        default:
          $ref: "#/components/responses/ApiError"
    options:
      tags: [Functions]
      operationId: invokeFunctionOptions
      summary: Invoke a function with OPTIONS
      security:
        - applicationBearer: []
        - {}
      responses:
        "200":
          description: Function-defined preflight response
          content:
            "*/*":
              schema:
                type: string
                format: binary
        default:
          $ref: "#/components/responses/ApiError"
  /v1/operator/overview:
    get:
      tags: [Operator]
      operationId: getOperatorOverview
      summary: Get the exception-first global operator overview
      security:
        - operatorSessionCookie: []
        - operatorBearer: []
      responses:
        "200":
          description: Bounded metadata-only overview with per-source freshness
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperatorOverview"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/operator/tenants:
    get:
      tags: [Operator]
      operationId: listOperatorTenants
      summary: Search the bounded tenant directory
      security:
        - operatorSessionCookie: []
        - operatorBearer: []
      parameters:
        - {name: query, in: query, schema: {type: string, maxLength: 200}}
        - {name: lifecycle, in: query, schema: {$ref: "#/components/schemas/LifecycleState"}}
        - {name: health, in: query, schema: {$ref: "#/components/schemas/OperatorFreshness"}}
        - {name: region, in: query, schema: {type: string, maxLength: 64}}
        - {name: plan, in: query, schema: {type: string, maxLength: 64}}
        - {name: quotaState, in: query, schema: {type: string, maxLength: 64}}
        - {name: cursor, in: query, schema: {type: string, maxLength: 4096}}
        - {name: limit, in: query, schema: {type: integer, minimum: 1, maximum: 100, default: 25}}
      responses:
        "200":
          description: Stable cursor-paginated tenant summaries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperatorTenantPage"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/operator/tenants/{projectId}:
    get:
      tags: [Operator]
      operationId: getOperatorTenant360
      summary: Get independently sourced Tenant 360 metadata sections
      security:
        - operatorSessionCookie: []
        - operatorBearer: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Tenant 360 metadata and topology
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperatorTenant360"
        default:
          $ref: "#/components/responses/ApiError"
  /v1/operator/inventory/{inventoryKind}:
    get:
      tags: [Operator]
      operationId: getOperatorInventory
      summary: Get bounded operations, alert, backup, sync, fleet, RocksDB, or security summaries
      security:
        - operatorSessionCookie: []
        - operatorBearer: []
      parameters:
        - name: inventoryKind
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OperatorInventoryKind"
        - {name: projectId, in: query, schema: {$ref: "#/components/schemas/ProjectId"}}
        - {name: from, in: query, schema: {type: integer, format: int64, minimum: 0}}
        - {name: until, in: query, schema: {type: integer, format: int64, minimum: 0}}
      responses:
        "200":
          description: Bounded provider sections with explicit stale/unknown state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items, observedAt]
                properties:
                  items:
                    type: array
                    maxItems: 64
                    items: {$ref: "#/components/schemas/OperatorReadSection"}
                  observedAt: {type: string, format: date-time}
        default:
          $ref: "#/components/responses/ApiError"
  /v1/operator/alerts:
    get:
      tags: [Operator]
      operationId: listOperatorAlerts
      summary: List normalized current alerts without mutating durable incidents
      security:
        - operatorSessionCookie: []
        - operatorBearer: []
      parameters:
        - {name: projectId, in: query, schema: {$ref: "#/components/schemas/ProjectId"}}
        - {name: cursor, in: query, schema: {type: string, maxLength: 4096}}
        - {name: limit, in: query, schema: {type: integer, minimum: 1, maximum: 100, default: 25}}
      responses:
        "200":
          description: Stable alert summaries with explicit provider freshness
          content:
            application/json:
              schema: {$ref: "#/components/schemas/OperatorAlertPage"}
        default: {$ref: "#/components/responses/ApiError"}
  /v1/operator/alerts/{alertFingerprint}:
    get:
      tags: [Operator]
      operationId: getOperatorAlert
      security:
        - operatorSessionCookie: []
        - operatorBearer: []
      parameters:
        - name: alertFingerprint
          in: path
          required: true
          schema: {type: string, pattern: "^alr_[a-f0-9]{32}$"}
        - {name: projectId, in: query, schema: {$ref: "#/components/schemas/ProjectId"}}
      responses:
        "200":
          description: Current normalized alert
          content:
            application/json:
              schema: {$ref: "#/components/schemas/OperatorAlert"}
        default: {$ref: "#/components/responses/ApiError"}
  /v1/operator/incidents:
    get:
      tags: [Operator]
      operationId: listOperatorIncidents
      security:
        - operatorSessionCookie: []
        - operatorBearer: []
      parameters:
        - {name: cursor, in: query, schema: {type: string, maxLength: 4096}}
        - {name: limit, in: query, schema: {type: integer, minimum: 1, maximum: 100, default: 25}}
        - {name: state, in: query, schema: {type: string, enum: [open, acknowledged, resolved]}}
        - {name: severity, in: query, schema: {type: string, enum: [critical, high, medium, low]}}
        - {name: projectId, in: query, schema: {$ref: "#/components/schemas/ProjectId"}}
        - {name: from, in: query, schema: {type: integer, format: int64, minimum: 0}}
        - {name: until, in: query, schema: {type: integer, format: int64, minimum: 0}}
      responses:
        "200":
          description: Incident page with immutable ordered timelines
          content:
            application/json:
              schema: {$ref: "#/components/schemas/OperatorIncidentPage"}
        default: {$ref: "#/components/responses/ApiError"}
    post:
      tags: [Operator]
      operationId: createOperatorIncident
      security:
        - operatorSessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/CreateOperatorIncidentRequest"}
      responses:
        "201":
          description: Durable incident created
          content:
            application/json:
              schema: {$ref: "#/components/schemas/OperatorIncident"}
        default: {$ref: "#/components/responses/ApiError"}
  /v1/operator/incidents/{incidentId}:
    get:
      tags: [Operator]
      operationId: getOperatorIncident
      security:
        - operatorSessionCookie: []
        - operatorBearer: []
      parameters:
        - name: incidentId
          in: path
          required: true
          schema: {type: string, pattern: "^inc_[A-Za-z0-9_-]{8,96}$"}
      responses:
        "200":
          description: Incident detail with ordered immutable timeline
          content:
            application/json:
              schema: {$ref: "#/components/schemas/OperatorIncident"}
        default: {$ref: "#/components/responses/ApiError"}
  /v1/operator/incidents/{incidentId}/actions/update:
    post:
      tags: [Operator]
      operationId: updateOperatorIncident
      security:
        - operatorSessionCookie: []
      parameters:
        - name: incidentId
          in: path
          required: true
          schema: {type: string, pattern: "^inc_[A-Za-z0-9_-]{8,96}$"}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/UpdateOperatorIncidentRequest"}
      responses:
        "200":
          description: Incident updated under optimistic version control
          content:
            application/json:
              schema: {$ref: "#/components/schemas/OperatorIncident"}
        default: {$ref: "#/components/responses/ApiError"}
  /v1/operator/recovery-jobs:
    get:
      tags: [Operator]
      operationId: listOperatorRecoveryJobs
      security:
        - operatorSessionCookie: []
        - operatorBearer: []
      parameters:
        - {name: projectId, in: query, schema: {$ref: "#/components/schemas/ProjectId"}}
        - {name: cursor, in: query, schema: {type: string, maxLength: 4096}}
        - {name: limit, in: query, schema: {type: integer, minimum: 1, maximum: 100, default: 25}}
      responses:
        "200":
          description: Bounded recovery-job inventory
          content:
            application/json:
              schema: {$ref: "#/components/schemas/OperatorRecoveryJobPage"}
        default: {$ref: "#/components/responses/ApiError"}
    post:
      tags: [Operator]
      operationId: createOperatorRecoveryJob
      security:
        - operatorSessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/CreateOperatorRecoveryJobRequest"}
      responses:
        "202":
          description: Gated durable recovery job
          content:
            application/json:
              schema: {$ref: "#/components/schemas/OperatorRecoveryJob"}
        default: {$ref: "#/components/responses/ApiError"}
  /v1/operator/recovery-jobs/{recoveryJobId}:
    get:
      tags: [Operator]
      operationId: getOperatorRecoveryJob
      security:
        - operatorSessionCookie: []
        - operatorBearer: []
      parameters:
        - name: recoveryJobId
          in: path
          required: true
          schema: {type: string, pattern: "^rcv_[A-Za-z0-9_-]{8,96}$"}
      responses:
        "200":
          description: Durable recovery-job state and verification status
[...]
