[defaults]
inventory = ../../.local/ansible/public-beta.ini
roles_path = roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
deprecation_warnings = True

[ssh_connection]
pipelining = True
ssh_args = -o BatchMode=yes -o IdentitiesOnly=yes -o UserKnownHostsFile=.local/ssh/public-beta-known-hosts
